# local package
-e .

click
sphinx
coverage
awscli
numpy
matplotlib
scipy
scikit-learn
jupyter
requests
boto3
pandas
seaborn
pytest
pytest-only
pytest-mock
prospector
pre-commit
numpydoc
python-dotenv>=0.5.1
